<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huayao_att_1</key>
            <dict>
                <key>frame</key>
                <string>{{574,508},{264,212}}</string>
                <key>offset</key>
                <string>{-75,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,72},{264,212}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_att_2</key>
            <dict>
                <key>frame</key>
                <string>{{278,676},{252,204}}</string>
                <key>offset</key>
                <string>{-58,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,95},{252,204}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_att_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{222,244}}</string>
                <key>offset</key>
                <string>{16,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,36},{222,244}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_att_4</key>
            <dict>
                <key>frame</key>
                <string>{{840,532},{218,180}}</string>
                <key>offset</key>
                <string>{32,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,137},{218,180}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_att_5</key>
            <dict>
                <key>frame</key>
                <string>{{532,722},{242,226}}</string>
                <key>offset</key>
                <string>{-58,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,125},{242,226}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_att_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,162}}</string>
                <key>offset</key>
                <string>{-103,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,138},{324,162}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_att_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{236,188}}</string>
                <key>offset</key>
                <string>{-70,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,136},{236,188}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_att_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,1106},{166,224}}</string>
                <key>offset</key>
                <string>{18,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,61},{166,224}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_dead_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{274,188}}</string>
                <key>offset</key>
                <string>{-85,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,91},{274,188}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_dead_2</key>
            <dict>
                <key>frame</key>
                <string>{{228,1146},{204,178}}</string>
                <key>offset</key>
                <string>{-82,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,118},{204,178}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_dead_3</key>
            <dict>
                <key>frame</key>
                <string>{{240,990},{228,154}}</string>
                <key>offset</key>
                <string>{-112,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,139},{228,154}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_dead_4</key>
            <dict>
                <key>frame</key>
                <string>{{248,882},{240,106}}</string>
                <key>offset</key>
                <string>{-56,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,191},{240,106}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_hit_1</key>
            <dict>
                <key>frame</key>
                <string>{{298,482},{274,192}}</string>
                <key>offset</key>
                <string>{-85,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,91},{274,192}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_hit_2</key>
            <dict>
                <key>frame</key>
                <string>{{490,950},{228,178}}</string>
                <key>offset</key>
                <string>{-69,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,118},{228,178}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_hit_3</key>
            <dict>
                <key>frame</key>
                <string>{{720,956},{214,172}}</string>
                <key>offset</key>
                <string>{-60,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,127},{214,172}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_hit_4</key>
            <dict>
                <key>frame</key>
                <string>{{776,752},{242,202}}</string>
                <key>offset</key>
                <string>{-65,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,94},{242,202}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_idle_1</key>
            <dict>
                <key>frame</key>
                <string>{{434,1254},{108,198}}</string>
                <key>offset</key>
                <string>{1,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,86},{108,198}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_idle_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{118,190}}</string>
                <key>offset</key>
                <string>{1,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,92},{118,190}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_idle_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{118,202}}</string>
                <key>offset</key>
                <string>{1,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,81},{118,202}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_idle_4</key>
            <dict>
                <key>frame</key>
                <string>{{678,1130},{126,200}}</string>
                <key>offset</key>
                <string>{5,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,83},{126,200}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_idle_5</key>
            <dict>
                <key>frame</key>
                <string>{{470,1130},{122,206}}</string>
                <key>offset</key>
                <string>{9,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,76},{122,206}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_idle_6</key>
            <dict>
                <key>frame</key>
                <string>{{880,1130},{118,192}}</string>
                <key>offset</key>
                <string>{8,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,89},{118,192}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_idle_7</key>
            <dict>
                <key>frame</key>
                <string>{{206,1326},{118,190}}</string>
                <key>offset</key>
                <string>{6,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,91},{118,190}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_idle_8</key>
            <dict>
                <key>frame</key>
                <string>{{910,338},{112,192}}</string>
                <key>offset</key>
                <string>{5,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,87},{112,192}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_run_1</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{318,160}}</string>
                <key>offset</key>
                <string>{-98,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,122},{318,160}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_run_2</key>
            <dict>
                <key>frame</key>
                <string>{{646,164},{312,172}}</string>
                <key>offset</key>
                <string>{-100,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,110},{312,172}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_run_3</key>
            <dict>
                <key>frame</key>
                <string>{{318,318},{302,162}}</string>
                <key>offset</key>
                <string>{-101,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,121},{302,162}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_run_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{294,166}}</string>
                <key>offset</key>
                <string>{-92,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,118},{294,166}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_run_5</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{322,158}}</string>
                <key>offset</key>
                <string>{-95,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,125},{322,158}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_run_6</key>
            <dict>
                <key>frame</key>
                <string>{{622,338},{286,168}}</string>
                <key>offset</key>
                <string>{-89,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,112},{286,168}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_run_7</key>
            <dict>
                <key>frame</key>
                <string>{{328,162},{316,154}}</string>
                <key>offset</key>
                <string>{-107,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,125},{316,154}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>huayao_run_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{314,166}}</string>
                <key>offset</key>
                <string>{-108,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,115},{314,166}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huayao.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7521b35de17971f47e650d9a658b515c$</string>
            <key>textureFileName</key>
            <string>huayao.png</string>
        </dict>
    </dict>
</plist>
